html 
    head
        title Create besked
    body
        form(action="/createMessage", method="post")
            input(type="text", name="besked")
            input(type="submit", value="Opret besked")