html
    head
        title Opgave 2 Lektion 14
    body 
        table
            each person in user
                tr 
                    td= person.name.title + " " + person.name.last + ", " + person.name.first
                tr
                    td
                        img(src=person.picture.medium)
        
        

    