

.container {
    display: grid;
    grid-template-columns: 40% 60%;
}

table, tr, td {
    border: 1px solid blue;
    width: 120px;
    text-align: center;
}

table {
    border-collapse: collapse;

}

img {
    height: 150px;
    width: 150px;
}