html
    head
        title test
    body
        h1 test site
        form(action="/ja" method="post") 
            input(type="submit", value="Ja")
        form(action="/nej" method="post") 
            input(type="submit", value="Nej")